:root{
  --color_1:#076737;
  --color_2:#35b448;
  --color_3:#58585a;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html, body{
	margin:0 !important;
	padding: 0 !important;
	height:100% !important;
}
body{
	min-height:100% !important;
}
table, td, th {
    border: 1px solid #eeeeee;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    vertical-align: bottom;
}
.table input{
  height:30px;
  min-width:100px;
  max-width:110px;
  font-size: 1.3em;
}
.table select{
  max-width:100px !important;
}
.pagination{
  position:relative;
  width:80%;
  top:1% !important;
  bottom:10%;
}
.content-forms{
  position:relative;
  padding-left: 1%;
  padding-right: 1%;
  float:right;
  width:100%;
  min-height:600px;
  background-color: white;
}
.content-forms-small-left{
  float: left;
  width:45%;
}
.content-forms-small-left-third{
  float: left;
  padding-left:1%;
  width:24%;
}
.content-forms-small-left-third select{
  max-width:80px;
}
.content-forms-small-left-third input{
  max-height:35px;
  font-size: .98em;
}
.content-forms-small-left-third label{
  font-size: .98em;
}
.radio{
  font-size: .7em !important;
}
.content-forms-small-right{
  float: right;
  width:45%;
}
.q_form{
  display:none;
}
.form-template{}
#variable_list{
  width:100px;
}
#content-forms-elements{
  position:relative;
  width:100%;
  height: 550px;
  padding-left: 0.5%;
  padding-right: 0.5;
  padding-top: 2%;
  top:1%;
  font-size: 0.7em !important;
  overflow:auto;
}
#content-forms-elements h2{
  font-size:2em;
  opacity: 0.8;
}
#footer{
	position:relative !important;
	margin-bottom:0 !important;
	background-color: black !important;
	text-align: right !important;
	padding:0.5% !important;
	font-size: 0.8 !important;
	width:100%;
	height: 6%;
	visibility: hidden;
}
footer span{
	margin-right: 1em;
	cursor: pointer;
}
footer span:hover{
	color:white;
}
#slider{
	position:relative;
	margin:auto;
	width:100%;
	height:356px;
    background:  linear-gradient(
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
    ),url("../images/africa-1933329_1920-ConvertImage.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}
#search-barre-div{
	position: relative;
	margin: auto;
	width:70%;
	height:300px;
}
.search-barre-custom{
  border-radius: 20px !important;
  height:80% !important;
  margin-top:1% !important;
}
#search-barre-div input{
	margin-top:18%;
	width:78%;
	float:right;
}
#search-barre-div img{
	width:20%;
	height:20%;
	margin-top: 18%;
}
.bottom-barre{
	position:fixed !important;
	background-color:black !important;
	bottom: 0 !important;
	width:100%;
	min-height:2.5% !important;
}
.top-barre{
	position:fixed !important;
	margin-bottom: 0px;
	width:100%;
	box-shadow: 0px 0px 6px 0px;
}
#container{
	padding-top:1%;
	padding-bottom:1%;
	display: flex;
	flex-wrap: wrap;
	width:100%;
	margin: auto;
	overflow:hidden;
  height:100%;
}
#container2{
	padding-bottom:1%;
	display: flex;
	flex-wrap: wrap;
	width:100%;
  min-height:500px;
	margin: auto;
	overflow:hidden;
}
.data-account-display{
  margin-left: 15%;
	width:85%;
  height:650px;
	overflow:auto;
}
.article-list{
  height:80px !important;
  font-size:.9em;
}
.article-list:hover{
  cursor:pointer;
}
.panel select{
  display: block !important;
  font-size: 1.1em;
}
.panel{
  position: fixed !important;
  height:100%;
  width:15%;
}
#diplay_graph{
  position:relative;
  float:right;
  width:80%;
  margin-top:-30%;
  margin-left:20%;
  height:550px;
  overflow:auto;
}
#diplay_panel{
  position:relative;
  float:right;
  width:82%;
  margin-top:-15%;
  margin-left:15%;
  height:550px;
  overflow:auto;
}
.register{
	padding:2%;
	width:40%;
	height:auto;
	margin:auto;
	margin-top:5%;
  font-size:0.7em !important;
	margin-bottom: 1%;
	border:2px solid #e5e5e5;
	margin-bottom: 5px;
	background-color: white;
}
.card{
	margin-left: 0.8%;
	margin-right: 0.8%;
}
.buttonSave{
  background-color:var(--color_2);
  color:white !important;
  border:none !important;
}
.buttonSaveAndClose{
  background-color:var(--color_1);
  color:white !important;
  border:none !important;
}
.small-chart{
  width:900px !important;
  height:500px !important;
}
.icone-li{
  width:15px;
  margin-right:10px;
}
#article-left-part{
  width:50%;
  float:left;
  height: 100%;
  padding-left: .5%;
}
#article-right-part{
  width:50%;
  float:right;
  height: 100%;
  padding-left: .5%;
}
#articles-list{
  width:100%;
  height:100%;
  float:left;
  max-height: 400px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  padding-top: 1%;
}
.article-block-header{
  width:100%;
  color: white;
  font-size:1.4em;
  height:45px;
  background-color: var(--color_3);
}
#client-search-barre{
  position:relative;
  color:var(--color_3);
  left:1%;
  width:85% !important;
  height:50px !important;
  font-size:1.5em;
}
.card:hover{
  background-color:#e5e5e5;
}
.member_elt_list:hover{
  background-color: #e5e5e5;
  cursor:pointer;
}
#editor_content{
  height:500px;
}
